:root {
  --mobile-min-width: 320px;
  --mobile-width: 480px;
  --tablet-width: 768px;
  --pc-width: 1200px;
  --big-pc-width: 1440px;
  --header-bg-color: rgba(200, 200, 205, 0.9);
  --header-text-color: #373738;
  --primary-bg-color: #2f2d2e;
  --footer-bg-color: #171614;
  --primary-active-color: #8b263a;
  --secondaty-active-color: #611b33;
  --dark-blue-color: #2e4057;
  --primary-title-color: #e7e7e7;
  --secondary-title-color: #e6e6e6;
  --primary-text-color: #e7e7e7;
  --main-border-radius: 8px;
  --first-transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --first-transition-duration: 250ms;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text--aligned-center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.customer-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-prev--customer,
.swiper-button-next--customer {
  color: var(--primary-text-color);
}
.swiper-button-prev--customer:hover, .swiper-button-prev--customer:focus,
.swiper-button-next--customer:hover,
.swiper-button-next--customer:focus {
  color: var(--primary-active-color);
}

.customer-slider--pc {
  display: none;
}
@media screen and (min-width: 1200px) {
  .customer-slider--pc {
    display: unset;
  }
}

@media screen and (min-width: 1200px) {
  .customer-slider--mob {
    display: none;
  }
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header,
.footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section__title {
  margin-bottom: 3rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.012em;
  color: var(--primary-title-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    width: 50%;
    margin-bottom: 3.75rem;
    font-size: 2.25rem;
  }
}

.section__description {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.012em;
  margin-block: 0;
}
@media screen and (min-width: 1200px) {
  .section__description {
    font-size: 1.25rem;
  }
}

.section__description:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .section__description:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.section__description--accent {
  font-weight: 700;
  letter-spacing: 0.03em;
}

.section__description--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-block: 0;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.012em;
}
@media screen and (min-width: 1200px) {
  .section__description--list {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }
}

.section__description--list-item::before {
  content: "- ";
}

.figure {
  padding: 0;
  margin: 0;
}

.mob-cta {
  padding-top: 1rem;
  color: var(--primary-text-color);
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .mob-cta {
    display: none;
  }
}

.mob-cta__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}
@media screen and (min-width: 480px) {
  .mob-cta__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.mob-cta__item {
  width: 2.5rem;
  height: 2.5rem;
}

.what-we-do {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
    padding-top: 92px;
    padding-bottom: 90px;
  }
}

.what-we-do__list {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .what-we-do__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.what-we-do__item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .what-we-do__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.what-we-do__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.what-we-do__thumb {
  height: 250px;
  width: 343px;
}
.what-we-do__thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .what-we-do__thumb--product {
    height: 375px;
    width: 515px;
  }
}

.what-we-do__label {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--primary-title-color);
}
@media screen and (min-width: 1200px) {
  .what-we-do__label {
    font-size: 1.5rem;
  }
}

.what-we-do__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description {
  position: relative;
  z-index: 5;
  color: var(--primary-text-color);
}

.description__cta {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-customers {
  position: relative;
  z-index: 5;
  padding-top: 3rem;
  padding-bottom: 5rem;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .our-customers {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
}
@media screen and (min-width: 1200px) {
  .our-customers {
    padding-bottom: 10rem;
  }
}

.our-customers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .our-customers__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 1.5rem;
  }
}

.customer-slider {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 42px;
}
@media screen and (min-width: 768px) {
  .customer-slider {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .swiper-button-prev--customer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.btn {
  width: 90%;
  height: 42px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.012em;
  color: var(--primary-title-color);
  background-color: var(--primary-active-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
  transition: background-color var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: background-color var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: background-color var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: background-color var(--first-transition-duration) var(--first-transition-function);
  -o-transition: background-color var(--first-transition-duration) var(--first-transition-function);
}
@media screen and (min-width: 375px) {
  .btn {
    width: 343px;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    width: 310px;
    height: 50px;
  }
}
.btn:hover, .btn:focus {
  color: var(--primary-text-color);
  background-color: var(--secondaty-active-color);
}

.btn--get-more {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .btn--get-more {
    margin-bottom: 2rem;
  }
}

.btn--swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.btn--swiper:hover, .btn--swiper:focus {
  color: var(--primary-active-color);
}

.our-contacts {
  z-index: 5;
  color: var(--primary-text-color);
}

.our-contacts__container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-top: 8rem;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .our-contacts__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .our-contacts__container {
    gap: 7.5rem;
  }
}

.our-contacts__main-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .our-contacts__main-part {
    width: 350px;
    gap: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .our-contacts__main-part {
    width: 450px;
  }
}

.our-contacts__title {
  margin-bottom: 0;
  width: 100%;
}

.our-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.012em;
}
@media screen and (min-width: 1200px) {
  .our-contacts__list {
    font-size: 1.125rem;
  }
}

.our-contacts__list--social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-contacts__desc {
  -ms-flex-preferred-size: 72%;
      flex-basis: 72%;
}

.our-contacts__desc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.our-contacts__map {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.our-contacts__map-frame {
  width: 100%;
  height: 215px;
}
@media screen and (min-width: 768px) {
  .our-contacts__map-frame {
    height: 100%;
  }
}

.our-contacts__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.012em;
}
@media screen and (min-width: 1200px) {
  .our-contacts__social-link {
    font-size: 1.125rem;
  }
}

.about-us {
  padding-top: 8rem;
  position: relative;
  z-index: 5;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .about-us {
    padding-top: 10rem;
  }
}

.about-us_profits-list {
  margin-bottom: 5rem;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 2.625rem;
}
@media screen and (min-width: 1200px) {
  .about-us_profits-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about-us_profits-list--stages {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1200px) {
  .about-us_profits-list--stages {
    margin-bottom: 0;
  }
}

.about-us__profits-title {
  padding-top: 1.2rem;
  padding-bottom: 0.75rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.012em;
}

.about-us__profits-desc {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.012em;
}

.manufacture-stages {
  padding-top: 3rem;
}

.gallery {
  padding-top: 8rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 5;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 10rem;
  }
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .gallery__list {
    row-gap: 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .gallery__list {
    row-gap: 3rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.bg-wrapper {
  position: relative;
  overflow: hidden;
}

.bg-wrapper__item {
  position: absolute;
}

.round {
  width: 294px;
  height: 294px;
  border-radius: 294px;
}

.red-first {
  top: 28px;
  left: -254px;
  background: var(--primary-active-color);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}
@media screen and (min-width: 1200px) {
  .red-first {
    top: 387px;
    left: -205px;
  }
}

.dark-blue-first {
  top: 608px;
  right: -179px;
  background: var(--dark-blue-color);
  -webkit-filter: blur(175px);
          filter: blur(175px);
}
@media screen and (min-width: 1200px) {
  .dark-blue-first {
    top: 25px;
    right: -132px;
  }
}

@media screen and (min-width: 1200px) {
  .dark-blue-second {
    background: var(--dark-blue-color);
    filter: blur(200px);
    top: 618px;
    right: -132px;
    -webkit-filter: blur(200px);
  }
}

.dark-blue-third {
  background: var(--dark-blue-color);
  filter: blur(175px);
  top: 60%;
  left: -65px;
  -webkit-filter: blur(175px);
}

.dark-blue-fourth {
  background: var(--dark-blue-color);
  filter: blur(175px);
  bottom: 579px;
  right: -30px;
  -webkit-filter: blur(175px);
}

.ellipse {
  width: 1440px;
  height: 302px;
  border-radius: 1440px;
}

.red-second {
  background: var(--primary-active-color);
  filter: blur(100px);
  -webkit-filter: blur(100px);
  bottom: -320px;
  left: 50%;
  translate: -50% 0;
}
@media screen and (min-width: 1200px) {
  .red-second {
    bottom: -290px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.container--mobile {
  position: relative;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media screen and (min-width: 480px) {
  .container--mobile {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container--mobile {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container--mobile {
    width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .container--mobile {
    width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*Header*/
.header {
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background: var(--header-bg-color);
}

.main-nav {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 100px;
}

.main-nav__logo {
  width: 89px;
  padding-top: 14px;
  padding-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .main-nav__logo {
    width: 111px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.main-nav__menu,
.contacts {
  display: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .main-nav__menu,
.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__menu {
  color: #373738;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.015rem;
}
@media screen and (min-width: 1200px) {
  .main-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.2rem;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .main-nav__menu {
    font-size: 1.25rem;
  }
}

.contacts {
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__item--contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.menu__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  transition: color var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: color var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: color var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: color var(--first-transition-duration) var(--first-transition-function);
  -o-transition: color var(--first-transition-duration) var(--first-transition-function);
}
.menu__link:hover, .menu__link:focus {
  color: var(--primary-active-color);
}

.menu__link--mob {
  padding-top: 0;
  padding-bottom: 0;
}

.menu__link--ad,
.menu__link--lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.menu__link--lang {
  color: var(--primary-active-color);
}

.menu__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icon-backrgound-color);
}
@media screen and (min-width: 1200px) {
  .menu__contacts-list {
    gap: 1rem;
  }
}

.menu__contacts-item {
  width: 1.75rem;
  height: 1.75rem;
}

.menu__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.menu__contacts-link:hover, .menu__contacts-link:focus {
  color: var(--primary-active-color);
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-paragraph-color);
  transition: color var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: color var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: color var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: color var(--first-transition-duration) var(--first-transition-function);
  -o-transition: color var(--first-transition-duration) var(--first-transition-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--primary-active-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.contacts__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.main-nav__submenu {
  position: absolute;
  top: 100%;
  display: none;
  background: var(--header-bg-color);
}

.sub-menu__item {
  display: block;
}

.menu__item:hover .main-nav__submenu {
  display: block;
}

.sub-menu__link {
  padding: 10px 15px;
}

.hero {
  margin: -76px auto 0;
  padding-top: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 105vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--primary-text-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.7019607843)), to(rgba(47, 48, 58, 0.7))), url(../images/Slider1.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.7019607843), rgba(47, 48, 58, 0.7)), url(../images/Slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 191px;
    padding-bottom: 76px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.7)), to(rgba(47, 48, 58, 0.7))), url(../images/Slider1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url(../images/Slider1.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__title {
  margin-bottom: 0.75rem;
  width: 80%;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: normal;
  letter-spacing: 0.012em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 70%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 50%;
  }
}

.hero__description {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.012em;
}
@media screen and (min-width: 480px) {
  .hero__description {
    margin-bottom: 2rem;
    width: 70%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__description {
    width: 45%;
    letter-spacing: 0.012em;
  }
}

.hero__profits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.hero__profits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.012em;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: var(--header-bg-color);
  transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
  -o-transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__header {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__open,
.menu__close {
  padding: 0 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 3.125rem;
  height: 3.125rem;
  background-color: transparent;
  border-color: transparent;
}
@media screen and (min-width: 1200px) {
  .menu__open,
.menu__close {
    display: none;
  }
}

.menu__icon-open,
.menu__icon-close {
  width: 100%;
  height: 100%;
  fill: var(--secondary-logo-color);
  transition: fill var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -o-transition: fill var(--first-transition-duration) var(--first-transition-function);
}

.menu__open:hover .menu__icon-open,
.menu__open:focus .menu__icon-open,
.menu__close:hover .menu__icon-close,
.menu__close:focus .menu__icon-close {
  fill: var(--primary-active-color);
}

.mob-nav {
  margin-bottom: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  color: var(--header-text-color);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.012em;
}

.mob-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.mob-nav__item--contacts {
  padding-top: 0.75rem;
}

.mob-nav__sub-list {
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.012em;
}

.mob-nav__link {
  color: var(--primary-header-color);
  transition: color var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: color var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: color var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: color var(--first-transition-duration) var(--first-transition-function);
  -o-transition: color var(--first-transition-duration) var(--first-transition-function);
}
.mob-nav__link--current, .mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--primary-active-color);
}

.menu__contacts-list--mob {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5rem;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--primary-text-color);
  background-color: var(--footer-bg-color);
}

.footer__container {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding-left: 30px;
    padding-right: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__upper-part {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__upper-part {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer__upper-part {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2.625rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo-part,
.first-col,
.second-col,
.third-col,
.fourth-col,
.fifth-col {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo-part,
.first-col,
.second-col,
.third-col,
.fourth-col,
.fifth-col {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
}

@media screen and (min-width: 1200px) {
  .first-col {
    -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .fourth-col {
    -ms-flex-preferred-size: 14rem;
        flex-basis: 14rem;
  }
}

.footer__lower-part {
  text-align: center;
}

.footer__logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__logo-part {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo-part {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__logo {
  width: 69px;
}

.footer__title {
  display: block;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: 0.012em;
  color: var(--primary-text-color-light);
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.footer__title--products {
  margin-bottom: 0.75rem;
}

.footer__title--contacts {
  margin-bottom: 0.75rem;
}

.footer__title--first-col:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.footer__link {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.012em;
}

.footer__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.footer__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
  -o-transition: opacity var(--first-transition-duration) var(--first-transition-function), visibility var(--first-transition-duration) var(--first-transition-function);
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -moz-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  -o-transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: -webkit-transform var(--first-transition-duration) var(--first-transition-function);
  transition: -webkit-transform var(--first-transition-duration) var(--first-transition-function);
  transition: transform var(--first-transition-duration) var(--first-transition-function);
  transition: transform var(--first-transition-duration) var(--first-transition-function), -webkit-transform var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: transform var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: transform var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: transform var(--first-transition-duration) var(--first-transition-function);
  -o-transition: transform var(--first-transition-duration) var(--first-transition-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-text-color-light);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
  transform: scale(1) translate(-50%, -50%);
  -webkit-transform: scale(1) translate(-50%, -50%);
  -moz-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1) translate(-50%, -50%);
  -o-transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--first-transition-duration) var(--first-transition-function);
  transition: -webkit-transform var(--first-transition-duration) var(--first-transition-function);
  transition: transform var(--first-transition-duration) var(--first-transition-function);
  transition: transform var(--first-transition-duration) var(--first-transition-function), -webkit-transform var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: transform var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: transform var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: transform var(--first-transition-duration) var(--first-transition-function);
  -o-transition: transform var(--first-transition-duration) var(--first-transition-function);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__callback {
  text-align: center;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-header-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__field {
  position: relative;
}
.modal__field--usual {
  margin-bottom: 10px;
  height: 58px;
}
.modal__field--comment {
  margin-bottom: 20px;
  height: 138px;
}
.modal__field--policy {
  position: relative;
  display: block;
  height: 24px;
  margin-bottom: 40px;
}

.modal__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-paragraph-color);
}

.modal__icon {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 18px;
  height: 18px;
  fill: var(--primary-header-color);
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transition: fill var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -o-transition: fill var(--first-transition-duration) var(--first-transition-function);
}
.modal__input:focus ~ .modal__icon {
  fill: var(--primary-active-color);
}

.modal__input {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
  transition: border var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: border var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: border var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: border var(--first-transition-duration) var(--first-transition-function);
  -o-transition: border var(--first-transition-duration) var(--first-transition-function);
}
.modal__input:focus, .modal__input:active {
  border: 1px solid var(--primary-active-color);
  outline: transparent;
}
.modal__input--comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  fill: var(--secondary-logo-color);
  transition: fill var(--first-transition-duration) var(--first-transition-function);
  -webkit-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: fill var(--first-transition-duration) var(--first-transition-function);
  -o-transition: fill var(--first-transition-duration) var(--first-transition-function);
}
.modal__close:hover .modal__icon-close, .modal__close:focus .modal__icon-close {
  fill: var(--primary-active-color);
}

.policy-agreement {
  display: block;
  height: 100%;
  width: 100%;
}

.policy-agreement__text {
  position: absolute;
  top: 12px;
  left: 36px;
  font-size: 12px;
  line-height: 1.17;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media screen and (min-width: 1200px) {
  .policy-agreement__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-agreement__icon {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-header-color);
  border-radius: var(--main-border-radius);
  transform: translateY(-50%);
  transition: background-color var(--first-transition-duration) var(--first-transition-function), border var(--first-transition-duration) var(--first-transition-function);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
  -webkit-transition: background-color var(--first-transition-duration) var(--first-transition-function), border var(--first-transition-duration) var(--first-transition-function);
  -moz-transition: background-color var(--first-transition-duration) var(--first-transition-function), border var(--first-transition-duration) var(--first-transition-function);
  -ms-transition: background-color var(--first-transition-duration) var(--first-transition-function), border var(--first-transition-duration) var(--first-transition-function);
  -o-transition: background-color var(--first-transition-duration) var(--first-transition-function), border var(--first-transition-duration) var(--first-transition-function);
}
.policy-agreement__checkbox:checked ~ .policy-agreement__icon {
  border: 2px solid var(--primary-active-color);
  background-color: var(--primary-active-color);
  background-size: contain;
  background-origin: border-box;
}
.policy-agreement__checkbox:hover ~ .policy-agreement__icon, .policy-agreement__checkbox:focus ~ .policy-agreement__icon {
  border: 2px solid var(--primary-active-color);
  background-size: contain;
  background-origin: border-box;
}

.policy-agreement__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.policy-agreement__link {
  color: var(--primary-active-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.our-works {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .our-works {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-works__list {
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .our-works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon--header {
  width: 1.75rem;
  height: 1.75rem;
}

.icon--footer {
  width: 1.5rem;
  height: 1.5rem;
}

.icon--customers {
  height: 32px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .icon--customers {
    height: 48px;
    width: 150px;
  }
}
.icon--swiper {
  height: 37px;
  width: 37px;
}

.icon--profit,
.icon--mob-cta {
  width: 2.5rem;
  height: 2.5rem;
}

.icon--profit-about-us {
  width: 6.25rem;
  height: 6.25rem;
}

.phone,
.mail,
.chevron {
  fill: none;
}

.chevron,
.globe {
  width: 1.2em;
  height: 1.2em;
}

.globe {
  stroke: currentColor;
}

.location {
  width: 2rem;
}
@media screen and (min-width: 1200px) {
  .location {
    width: 3rem;
  }
}/*# sourceMappingURL=main.css.map */