.container {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
		padding-left: 30px;
		padding-right: 30px;
	}

	@media screen and (min-width: 1440px) {
		width: 1440px;
		padding-left: 100px;
		padding-right: 100px;
	}
}

.container--mobile {
	position: relative;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	height: 100%;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
		padding-left: 30px;
		padding-right: 30px;
	}

	@media screen and (min-width: 1440px) {
		width: 1440px;
		padding-left: 100px;
		padding-right: 100px;
	}
}
