.description {
	position: relative;
	z-index: 5;
	color: var(--primary-text-color);
}

.description__cta {
	position: relative;
	z-index: 5;

	display: flex;
	justify-content: center;
	align-items: center;
}
