.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--footer-bg-color);
}

.footer__container {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: space-around;
	}
}

.footer__first-part,
.footer__second-part {
	text-align: center;
	margin-bottom: 60px;

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 90px) / 4);
		margin-bottom: 0;

		text-align: left;
	}
}

.footer__first-part {
	@media screen and (min-width: 768px) {
		flex-basis: 232px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 70px;
	}
}

.footer__second-part {
	@media screen and (min-width: 768px) {
		flex-basis: 206px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: auto;
	}
}

.footer__third-part {
	@media screen and (min-width: 768px) {
		width: 450px;
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 30px) / 2);
	}
}

.footer__logo {
	display: inline-block;
	padding: 0;
	margin-bottom: 20px;
}

.footer__title {
	display: block;
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: center;

	color: var(--primary-text-color-light);

	@media screen and (min-width: 1200px) {
		text-align: left;
	}
}

.footer__social-list {
	justify-content: center;

	@media screen and (min-width: 768px) {
		justify-content: flex-start;
	}

	color: var(--icon-backrgound-color);
}

.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--primary-text-color-light);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: background-color var(--first-transition-duration) var(--first-transition-function);
	-webkit-transition: background-color var(--first-transition-duration) var(--first-transition-function);
	-moz-transition: background-color var(--first-transition-duration) var(--first-transition-function);
	-ms-transition: background-color var(--first-transition-duration) var(--first-transition-function);
	-o-transition: background-color var(--first-transition-duration) var(--first-transition-function);

	&:hover,
	&:focus {
		background-color: var(--primary-active-color);
	}
}

.address__item {
	margin-bottom: 9px;

	font-size: 14px;
	font-style: normal;
	line-height: 1.71;

	color: var(--primary-text-color-light);

	&:last-child {
		margin-bottom: 0;
	}
}

.address__contacts-link {
	display: inline-block;
	padding: 0;
	color: var(--secondary-text-color-light);
	transition: color var(--first-transition-duration) var(--first-transition-function);
	-webkit-transition: color var(--first-transition-duration) var(--first-transition-function);
	-moz-transition: color var(--first-transition-duration) var(--first-transition-function);
	-ms-transition: color var(--first-transition-duration) var(--first-transition-function);
	-o-transition: color var(--first-transition-duration) var(--first-transition-function);

	&:hover,
	&:focus {
		color: var(--primary-active-color);
	}

	&--street {
		color: var(--primary-text-color-light);
	}
}
