.hero {
	margin: -76 auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;

	align-items: flex-start;

	color: var(--primary-text-color);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
	}

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
		}
	}

	@media screen and (min-width: 480px) {
		display: block;
		padding-top: 118px;
		padding-bottom: 118px;
		height: auto;
	}

	@media screen and (min-width: 1200px) {
		max-width: 1600px;
		padding-top: 200px;
		padding-bottom: 200px;

		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px){
		margin-left: auto;
		margin-right: auto;
	}
}

.hero__title {	
	margin-bottom: 0.75rem;

	font-weight: 700;
	font-size: 1.75rem;
	line-height: normal;
	letter-spacing: 0.012em;
	text-transform: uppercase;

	color: var(--primary-title-color);



	@media screen and (min-width: 480px) {
		width: 360px;
	}

	@media screen and (min-width: 1200px) {
		width: 60%;
		font-size: 44px;
		line-height: 1.36;
	}
}

.hero__profits-list{
	display: flex;
	flex-direction: column;
	gap:0.25rem;
}
