.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.icon--header {
	width: 1.75rem;
	height: 1.75rem;
}

.icon--footer {
	width: 1.5rem;
	height: 1.5rem;
}

.icon-customers {
	width: auto;
	height: 32px;

	@media screen and (min-width: 768px) {
		height: 48px;
	}

	@media screen and (min-width: 1200px) {
		height: 85px;
	}
}

.icon--profit,
.icon--mob-cta {
	width: 2.5rem;
	height: 2.5rem;
}

.phone,
.mail,
.chevron {
	fill: none;
}

.chevron,
.globe {
	width: 1.2em;
	height: 1.2em;
}

.globe {
	stroke: currentColor;
}

.location {
	width: 2rem;

	@media screen and (min-width: 1200px) {
		width: 3rem;
	}
}
