.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.icon--header {
	width: 1.75rem;
	height: 1.75rem;
}

.icon--footer {
	width: 1.5rem;
	height: 1.5rem;
}

.icon--customers {
	height: 32px;
	width: 100px;
}
@media screen and (min-width: 768px) {
	.icon--customers {
		height: 48px;
		width: 150px;
	}
}

.icon--swiper {
	height: 37px;
	width: 37px;
}

.icon--profit,
.icon--mob-cta {
	width: 2.5rem;
	height: 2.5rem;
}

.icon--profit-about-us {
	width: 6.25rem;
	height: 6.25rem;
}

.phone,
.mail,
.chevron {
	fill: none;
}

.chevron,
.globe {
	width: 1.2em;
	height: 1.2em;
}

.globe {
	stroke: currentColor;
}

.location {
	width: 2rem;

	@media screen and (min-width: 1200px) {
		width: 3rem;
	}
}
