.mob-menu {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	background: var(--primary-text-color-light);

	@media screen and (min-width: 768px) {
		display: none;
	}

	transition: opacity var(--first-transition-duration) var(--first-transition-function),
		visibility var(--first-transition-duration) var(--first-transition-function);
	-webkit-transition: opacity var(--first-transition-duration) var(--first-transition-function),
		visibility var(--first-transition-duration) var(--first-transition-function);
	-moz-transition: opacity var(--first-transition-duration) var(--first-transition-function),
		visibility var(--first-transition-duration) var(--first-transition-function);
	-ms-transition: opacity var(--first-transition-duration) var(--first-transition-function),
		visibility var(--first-transition-duration) var(--first-transition-function);
	-o-transition: opacity var(--first-transition-duration) var(--first-transition-function),
		visibility var(--first-transition-duration) var(--first-transition-function);
}

.menu__open {
	padding: 0 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	width: 3.125rem;
	height: 3.125rem;

	background-color: transparent;
	border-color: transparent;

	@media screen and (min-width: 1200px) {
		display: none;
	}
}

.menu__icon-open,
.menu__icon-close {
	width: 100%;
	height: 100%;
	fill: var(--secondary-logo-color);
	transition: fill var(--first-transition-duration) var(--first-transition-function);
	-webkit-transition: fill var(--first-transition-duration) var(--first-transition-function);
	-moz-transition: fill var(--first-transition-duration) var(--first-transition-function);
	-ms-transition: fill var(--first-transition-duration) var(--first-transition-function);
	-o-transition: fill var(--first-transition-duration) var(--first-transition-function);
}

.menu__open:hover .menu__icon-open,
.menu__open:focus .menu__icon-open,
.menu__close:hover .menu__icon-close,
.menu__close:focus .menu__icon-close {
	fill: var(--primary-active-color);
}

.menu__close {
	position: absolute;
	top: 10px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	width: 40px;
	height: 40px;

	background-color: transparent;
	border-color: transparent;

	// @media screen and (min-width: 768px) {
	// 	display: none;
	// }
}

.mob-nav {
	margin-bottom: auto;
}

.mob-nav__item {
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: calc(47 / 40);
	letter-spacing: 0.02em;

	&:not(:last-child) {
		margin-bottom: 32px;
	}
}

.mob-nav__link {
	color: var(--primary-header-color);
	transition: color var(--first-transition-duration) var(--first-transition-function);
	-webkit-transition: color var(--first-transition-duration) var(--first-transition-function);
	-moz-transition: color var(--first-transition-duration) var(--first-transition-function);
	-ms-transition: color var(--first-transition-duration) var(--first-transition-function);
	-o-transition: color var(--first-transition-duration) var(--first-transition-function);
	&--current,
	&:hover,
	&:focus {
		color: var(--primary-active-color);
	}
}

.mob-contacts {
	margin-bottom: 64px;
}

.mob-contacts__item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: calc (28 / 24);
	letter-spacing: 0.02em;

	color: var(--primary-paragraph-color);

	&--phone {
		margin-bottom: 32px;

		font-size: 26px;
		line-height: calc(40 / 26);
		color: var(--primary-active-color);

		@media screen and (min-width: 480px) {
			font-size: 34px;
			line-height: calc(40 / 34);
		}
	}
}

.mob-social-list {
	display: flex;
	flex-wrap: wrap;
}

.mob-social-item {
	padding-left: 10px;
	padding-right: 10px;
}

.mob-social-item:first-child {
	padding-left: 0;
}

.mob-social-item:not(:last-child) {
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social-link {
	font-weight: 500;
	font-size: 18px;
	line-height: calc(22 / 18);
	letter-spacing: 0.02em;

	color: var(--primary-active-color);
}
