.what-we-do {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@media screen and (min-width: 1200px) {
		display: block;
		padding-top: 92px;
		padding-bottom: 90px;
	}
}
.what-we-do__list {
	padding-bottom: 3rem;
	display: flex;
	flex-direction: column;

	gap: 32px;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.what-we-do__item {
	position: relative;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-basis: calc((100% - 60px) / 2);
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		flex-basis: calc((100% - 60px) / 3);
	}
}

.what-we-do__figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.what-we-do__thumb {
	height: 250px;
	width: 343px;

	& > img {
		display: block;
		height: 100%;
		width: 100%;

		object-fit: cover;
	}
}

.what-we-do__thumb--product {
	@media screen and (min-width: 1200px) {
		height: 375px;
		width: 515px;
	}
}

.what-we-do__label {
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: center;

	color: var(--primary-title-color);

	@media screen and (min-width: 1200px) {
		font-size: 1.5rem;
	}
}

.what-we-do__cta {
	display: flex;
	justify-content: center;
}
