:root {
	--mobile-min-width: 320px;
	--mobile-width: 480px;
	--tablet-width: 768px;
	--pc-width: 1200px;
	--big-pc-width: 1440px;
	--header-bg-color: #9A9D9F;
	--header-text-color: #373738;
	--primary-bg-color: #1e1e1e;
	--footer-bg-color: #171614;
	--primary-active-color: #8b263a;
	--dark-blue-color:#2e4057;
	--primary-title-color: #E7E7E7;
	--secondary-title-color: #E7E7E7;
	--primary-text-color: #ffffff;
	--main-border-radius: 6px;
	--first-transition-function: cubic-bezier(0.4, 0, 0.2, 1);
	--first-transition-duration: 250ms;
}
